@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@400&family=Overpass:wght@300&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@800&display=swap");

.blog_main_container {
  max-width: 1500px;
  margin: 0 auto;
}

.header {
  text-align: center;
  color: #f63c54; /*non-webkit fallback*/
  background: -webkit-linear-gradient(#8a2387, #e94057, #fc7b2a, #ff9100);
  background: linear-gradient(#8a2387, #e94057, #fc7b2a, #ff9100);
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
}

.header h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 85px;
  /* background: #8a2387; 
  background: -webkit-linear-gradient(
    to left,
    #8a2387,
    #e94057,
    #f27121
  );
  background: linear-gradient(
    to left,
    #8a2387,
    #e94057,
    #f27121
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
}

.subheader {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-top: 80px;
  text-align: center;
  margin-bottom: 3.5rem;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 90px;
}

@media (max-width: 426px) {
  .header h1 {
    font-size: 50px;
  }
  .subheader {
    font-size: 30px;
  }
}

.blog_title_element_container,
.blogcards_container {
  font-family: Rubik;
  position: relative;
  width: 95%;
  height: 30em;
  margin-right: auto;
  margin-left: auto;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 5rem;
  color: white;
  /* border: solid white; */
}
.blog_title_element_container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.blog_title_image_container {
  width: 65%;
  height: 100%;
}
.blog_title_image {
  width: 100%;
  min-height: 480px;
  max-height: 480px;
  object-fit: cover;
  border-radius: 10px;
}

.blog_title_text_container {
  width: 45%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 5px 40px;
  padding-right: 5px;
}

.post_info {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex: 0.5;
  font-size: 12px;
}
.post_date {
  color: #a8a8a8;
}
.post_domain {
  font-weight: bold;
}
.info_divider {
  position: relative;
  top: 2px;
  width: 4px;
  height: 4px;
  margin-right: 6px;
  margin-left: 6px;
  border-radius: 12px;
  background-color: #ffffff;
  color: #ffffff;
  font-size: 10px;
  line-height: 28px;
  font-weight: 400;
}

.post_title_link,
.post_title {
  flex: 2;
  cursor: pointer;
}

.post_summary {
  flex: 4;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  color: #a8a8a8;
}

.post_creator {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.post_creator_image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}
.post_creator_details {
  padding: 0 10px;
}
.post_creator_name {
  font-size: large;
  font-weight: bold;
}
.post_creator_details {
  font-size: small;
}
.post_creator_specialization {
  color: #a8a8a8;
}

.blogcards_container {
  display: grid;
  grid-column-gap: 1.5rem;
  grid-row-gap: 1.5rem;
  grid-template-columns: auto auto auto;
}
.blogcard_item {
  display: flex;
  flex-direction: column;
}
.blogcard_item_image {
  width: 100%;
}
.blogcard_image {
  min-height: 100px;
  width: 100%;
  object-fit: cover;
  border-radius: 10px;
}
.blogcard_text_container {
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 20px 0;
}
.post_card_title,
.post_title {
  margin-top: 15px;
  margin-bottom: 10px;
}
.post_card_title_link,
.post_card_title {
  cursor: pointer;
}
.post_card_summary {
  flex: 4;
  width: 100%;
  height: 100%;
  padding: 5px 0;
  color: #a8a8a8;
  font-size: smaller;
}
.post_card_creator {
  flex: 1;
  display: flex;
  justify-content: flex-start;
  align-items: center;

  margin: 18px 0;
}
.post_card_creator_name {
  font-size: larger;
  font-weight: bold;
}
.post_creator_image {
  height: 40px;
  width: 40px;
  border-radius: 50%;
}
.post_card_creator_specialization {
  color: #a8a8a8;
  font: smaller;
}

.post_title,
.post_card_title {
  transition: color 200ms ease;
}
.post_title:hover,
.post_card_title:hover {
  color: #e94057;
}
.post_summary,
.post_card_summary {
  transition: color 200ms ease;
}
.post_summary:hover,
.post_card_summary:hover {
  color: white;
}

@media screen and (max-width: 768px) {
  .blog_title_element_container {
    flex-direction: column;
    height: auto;
  }
  .blog_title_image_container,
  .blog_title_text_container {
    width: 100%;
    font-size: smaller;
  }
  .blog_title_text_container {
    padding: 20px 0;
  }
  .blog_title_image {
    min-height: 200px;
  }
  .post_creator {
    padding: 10px 0;
  }
  .post_creator_name {
    font-size: medium;
    font-weight: bold;
  }
  .post_creator_details {
    font-size: x-small;
  }

  .blogcards_container {
    grid-template-columns: auto auto;
    grid-row-gap: 1rem;
  }
}

@media screen and (max-width: 426px) {
  .blogcards_container {
    grid-template-columns: auto;
    grid-row-gap: 1rem;
  }
  .blog_title_text_container {
    padding-bottom: 0;
  }
}
