:root {
  --dept-bg-color: #fcfff7;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background-color: #070707 !important;
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none !important;
  color: white;
}
a:link,
a:visited {
  color: white !important;
}

* {
  box-sizing: border-box;
}
@media screen and (max-width: 426px) {
  .ReactModal__Content {
    top: 5em !important;
    bottom: 1em !important;
    border-radius: 10px !important;
    border: 0 !important;
    padding: 0 !important;
    background: none !important;
  }
  .ReactModal__Overlay {
    background-color: rgba(0, 0, 0, 0.75) !important;
  }
}
