@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@400&family=Overpass:wght@300&family=Poppins:wght@600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@800&family=Raleway:wght@800&display=swap");

.header {
  text-align: center;
  background: url("https://i.ibb.co/rpsWqvc/biggradient.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -6rem;
  background-position-x: -6rem;
  z-index: 10;
  position: relative;
}
.header_light {
  text-align: center;
  background: url("https://i.ibb.co/rpsWqvc/biggradient.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-attachment: fixed;
  background-size: cover;
  background-position-y: -6rem;
  background-position-x: -6rem;
  z-index: 10;
  position: relative;
  margin-top: 110px;

}

.header h1,.header_light h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 85px;
}
.appleHeader {
  text-align: center;
  color: rgb(244, 58, 79);
  z-index: 10;
  position: relative;
}

.appleHeader h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 85px;
}

.subheader {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #fff;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}
.subheader_light {
  font-family: "Rubik", sans-serif;
  font-size: 40px;
  font-weight: 600;
  color: #070707;
  margin-top: 20px;
  text-align: center;
  margin-bottom: 20px;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.para {
  width: 80%;
  max-width: 800px;
  color: white;
  font-family: "Overpass", sans-serif;
  font-size: 25px;
}

.container {
  display: flex;
  position: relative;
  z-index: 10;
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  background-color: #070707;
}
.container_light {
  display: flex;
  position: relative;
  z-index: 10;
  margin-top: 90px;
  flex-direction: column;
  justify-content: center;
  background-color: white;
}

.main {
  background-color: #070707;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  margin: 0;
}
.main_light {
  background-color: white;
  box-sizing: border-box;
  position: relative;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  font-family: "Lato", sans-serif;
  margin: 0;
}

.main h1 {
  text-align: center;
}

.dropdownContainer {
  position: relative;
  z-index: 20;
  background: #070707;
}
.dropdownContainer_light {
  position: relative;
  z-index: 20;
  background: white;
}

.filterDropdown {
  z-index: 20;
  position: relative;
  background: #070707;
  margin-left: 90%;
}
.filterDropdown_light {
  z-index: 20;
  position: relative;
  background: white;
  margin-left: 90%;
}

.filterButton {
  width: 100%;
  background: none;
  color: white;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
  outline: inherit;
  z-index: 20;
  position: relative;
}

.filterButton:hover {
  color: black;
}

.timelineContainer {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 50%;
  margin: 30px 0;
}

.timelineContainer::after {
  background: linear-gradient(
    to left,
    #8a2387,
    #e94057,
    #f27121
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  content: "";
  position: absolute;
  left: calc(50% - 4px);
  width: 8px;
  height: 100%;
}

.timelineItem {
  display: flex;
  justify-content: flex-end;
  padding-right: 30px;
  position: relative;
  margin: 10px 0;
  width: 50%;
}

.meetTitle {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  color: black;
  margin-top: 10px;
}

.meetDesc {
  margin-bottom: 7.5px;
  font-size: 11.5px;
  color: #777;
}
.meetStatus{
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 5px;
  margin-top: 5px;
  text-transform: uppercase;
  border-radius: 5px;
}
.timelineItem:nth-child(odd) {
  align-self: flex-end;
  justify-content: flex-start;
  padding-left: 30px;
  padding-right: 0;
}

.timelineItemContent {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 15px;
  position: relative;
  width: 400px;
  max-width: 70%;
  text-align: right;
}

.timelineItemContent::after {
  content: " ";
  background: linear-gradient(to left, #8a2387, #e94057, #f27121);
  box-shadow: 1px -1px 1px rgba(0, 0, 0, 0.2);
  position: absolute;
  right: -15px;
  top: calc(50% - 5px);
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.timelineItem:nth-child(odd) .timelineItemContent {
  text-align: left;
  align-items: flex-start;
}

.timelineItem:nth-child(odd) .timelineItemContent::after {
  right: auto;
  left: -15px;
  box-shadow: -1px 1px 1px rgba(0, 0, 0, 0.2);
}

.timelineItemContent .tag {
  color: #fff;
  font-size: 12px;
  font-weight: bold;
  top: 5px;
  left: 5px;
  letter-spacing: 1px;
  padding: 5px;
  position: absolute;
  text-transform: uppercase;
  border-radius: 5px;
}

.timelineItem:nth-child(odd) .timelineItemContent .tag {
  left: auto;
  right: 5px;
}

.timelineItemContent time {
  color: #777;
  font-size: 12px;
  font-weight: bold;
}

.timelineItemContent p {
  font-size: 16px;
  line-height: 24px;
  margin: 15px 0;
  max-width: 250px;
}
.res_icons{
  margin-left: 1rem;
}
.timelineItemContent .circle {
  background-color: #fff;
  border: 3px solid #e17b77;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 10px);
  right: -40px;
  width: 20px;
  height: 20px;
  z-index: 100;
}

.timelineItem:nth-child(odd) .timelineItemContent .circle {
  right: auto;
  left: -40px;
}

@media only screen and (max-width: 1023px) {
  .timelineItemContent {
    max-width: 100%;
  }
  .timelineItem {
    min-width: 218px;
  }
}

@media only screen and (max-width: 1270px) {
  .timelineItemContent,
  .timelineItem:nth-child(odd) .timelineItemIontent {
    padding: 15px 10px;
    text-align: flex-end;
    align-items: flex-end;
  }

  .timelineItemContent .tag {
    width: calc(100% - 10px);
    text-align: center;
  }

  .timelineItemContent time {
    margin-top: 20px;
  }
}

@media only screen and (max-width:375px) {
  .container_light{
    margin-top: 1px ;
  }
  
}

@media only screen and (max-width: 890px) {
  .filterDropdown,.filterDropdown_light {
    margin: 0;
    align-self: center;
    margin-left: 45%;
    z-index: 20;
  }
  .main {
    width: 90%;
    align-self: center;
    max-width: 607px;
  }
  .timelineContainer {
    width: 100%;
  }
  .timelineItem {
    max-width: 307px;
    min-width: 178px;
  }
}

@media only screen and (max-width: 690px) {
  .filterDropdown,.filterDropdown_light {
    margin: 0;
    align-self: center;
    margin-left: 40%;
    z-index: 20;
  }
  .meetTitle {
    font-size: 1.2em;
  }
}

@media screen and (max-width: 420px) {
  .header h1,
  .appleHeader h1,
  .header_light h1{
    font-size: 20vw;
  }
  .container,.container_light {
    margin-top: 120px;
  }
}

@media screen and (max-width: 426px) {
  .header h1,.header_light h1 {
    font-size: 50px;
  }
}

@media (max-height: 580px) {
  .header,.header_light {
    text-align: center;
    background: linear-gradient(
      to right,
      rgb(255, 96, 170),
      rgb(255, 139, 61),
      rgb(255, 118, 182)
    );
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-attachment: fixed;
    background-size: cover;
    background-position-y: -6rem;
    background-position-x: -8rem;
  }
  .header h1,.header_light h1 {
    color: rgb(244, 58, 79);
  }
}

/* placeholder for footer (parallax effect) */
.placeholder {
  position: relative;
  z-index: 1;
  height: 90vh;
  margin-top: 40px;
}
