@import url("https://fonts.googleapis.com/css2?family=Lato:wght@900&family=Poppins:wght@400&family=Overpass:wght@300&family=Poppins:wght@600&display=swap");

.header {
  color: #fff;
  text-align: center;
  margin-bottom: 1rem;
}

.header h1 {
  font-family: "Lato", sans-serif;
  font-size: 85px;
  background: #8a2387; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to left,
    #8a2387,
    #e94057,
    #f27121
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to left,
    #8a2387,
    #e94057,
    #f27121
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  background-clip: content-box;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.container {
  display: flex;
  margin-top: 200px;
  flex-direction: column;
  justify-content: center;
  padding-bottom: 90px;
}

.faqContainer {
  width: 80%;
}

@media (max-width: 426px) {
  .header h1 {
    font-size: 50px;
  }
  .subheader {
    font-size: 30px;
  }
}

.project_submain_container {
  font-family: Rubik;
  position: relative;
  width: 98%;
  padding-right: 15px;
  padding-left: 15px;
  margin: 5rem auto 0 auto;
  color: white;
  display: flex;
  flex-direction: row;
  /* border: solid white; */
}

.project_submain_container {
  max-width: 1500px;
}

.left_pane {
  display: grid;
  grid-template-columns: auto auto;
  grid-column-gap: 2.5rem;
  grid-row-gap: 2.5rem;
  flex: 1;
}
.right_pane {
  flex: 1;
}

.project_card > .projects_card_item_image > img {
  transition: transform 1s ease-out;
}
.project_card:hover > .projects_card_item_image > img {
  transform: scale(1.08);
}
.projects_card_image {
  border-radius: 10px;
}
.projects_card_item_image {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  cursor: pointer;
}
.projects_card_image {
  min-height: 100px;
  width: 100%;
  object-fit: cover;
}
.project_domain {
  font-size: smaller;
}
.projects_card_text_container {
  display: flex;
  flex-direction: column;
  align-items: start;

  padding: 20px 0;
}
.project_card_summary {
  color: #a8a8a8;
}
.project_card_title_link {
  background: inherit;
  padding: 0;
  color: white;
  outline: none;
  border: none;
}

@media screen and (max-width: 768px) {
  .left_pane {
    grid-template-columns: auto;
    flex: 0.75;
  }
}


